* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../img/earth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 32px auto;
}
h2 {
    padding: 16px;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #008b8b;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
  }
  

country-list {
    display: block;
    margin-top: 32px;
    width: 100%;
    padding: 16px;
}